input {
    color: white;
    border: none;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid white;
}

input:focus {
    outline: none;
}

.modal {
    z-index: 3;
}


/*------uiverse.io-------*/
/*-------Botón actualizar---------*/
.btn-actualizar {
    position: relative;
    width: 150px;
    height: 40px;
    margin-top: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    overflow: hidden;
    padding-left: 0;
}

.btn-actualizar,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.btn-actualizar .button__text {
    transform: translateX(30px);
    color: #323232;
    font-weight: 600;
}

.btn-actualizar .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-actualizar .svg {
    width: 20px;
    fill: var(--main-color);
}

.btn-actualizar:hover {
    background: var(--bg-color);
}

.btn-actualizar:hover .button__text {
    color: transparent;
}

.btn-actualizar:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.btn-actualizar:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

/*-------------*/

.btn-actualizar .button__icon:hover .svg {
    animation: rotate 0.3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}