html,
body {
    overflow: hidden;
}

button {
    cursor: pointer;
}

#contenedor-ep {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

.modal-content {
    margin: 10px 10px 0;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    color: var(--letter-color);
    background-color: var(--bg-color);
    /* width: 80%; */
}

h2 {
    margin: 0;
    font-family: 'Nunito-ExtraBold';
    color: #b6b6b6;
}

.nombre-destino {
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    cursor: pointer;
}

.flotar-medio {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    margin-top: 50px;
    text-align: center;
}

th {
    padding: 10px;
}

td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--table-primary);
}

tr:nth-child(odd) {
    background-color: var(--table-secondary);
}

thead tr:first-child {
    background-color: #B4C2E1;
    color: black;
    font-family: 'Nunito-ExtraBold';
}

tr:last-child {
    border-bottom: 3px solid var(--table-secondary);
}

tbody button {
    cursor: pointer;
    border: none;
    height: 24px;
}

.transparente {
    background-color: transparent;
}

input {
    color: white;
    border: none;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid white;
}

input:focus {
    outline: none;
}


/*------uiverse.io-------*/
/*-------Botón actualizar---------*/
.btn-actualizar {
    position: relative;
    width: 150px;
    height: 40px;
    margin-top: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    overflow: hidden;
    padding-left: 0;
}

.btn-actualizar,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.btn-actualizar .button__text {
    transform: translateX(30px);
    color: #323232;
    font-weight: 600;
}

.btn-actualizar .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-actualizar .svg {
    width: 20px;
    fill: var(--main-color);
}

.btn-actualizar:hover {
    background: var(--bg-color);
}

.btn-actualizar:hover .button__text {
    color: transparent;
}

.btn-actualizar:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.btn-actualizar:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

/*-------------*/

.btn-actualizar .button__icon:hover .svg {
    animation: rotate 0.3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}