<app-cabecera-salidas></app-cabecera-salidas>

<div id="contenedores-botones">
    <div id="botones">
        <button (click)="resetForm()" (click)="excelInput.click()" class="container-btn-file">
            <img src="../../../assets/icons/excel.svg" />
            Importar Excel
            <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls" style="display: none" #excelInput
                class="file">
        </button>
        <button (click)="resetForm()" class="btn-eliminar">
            <span class="text">Borrar salida</span><span class="icon"><img
                    src="../../../assets/icons/delete-bin.svg" /></span>
        </button>
    </div>

    <div id="contenedor-tabla">
        <ng-container>
            <div class="centrar">
                <div class="radio-input">
                    <label>
                        <input type="radio" [(ngModel)]="pendiente" [value]="true">
                        <span>Pendiente</span>
                    </label>
                    <label>
                        <input type="radio" [(ngModel)]="pendiente" [value]="false">
                        <span>Recibida</span>
                    </label>
                    <span class="selection"></span>
                </div>
            </div>

            <form [formGroup]="salidaForm" (ngSubmit)="onSubmit()" #formularioNuevaSalida="ngForm">
                <p class="obligatorio" style="color: rgba(255, 255, 255, 0.849); margin-bottom: 0px">(*) Obligatorio</p>
                <p class="obligatorio" style="color: rgba(255, 255, 255, 0.849); margin: 0px">(**) Obligatorio siempre</p>
                <table>
                    <thead>
                        <tr>
                            <th>Origen<span class="obligatorio">**</span></th>
                            <th>DCS</th>
                            <th>Ref<span class="obligatorio">**</span></th>
                            <th>Descripción<span class="obligatorio">**</span></th>
                            <th>Unidades<span class="obligatorio">*</span></th>
                            <th>Fecha envío<span class="obligatorio">*</span></th>
                            <th>Ubicación<span class="obligatorio">*</span></th>
                            <th>Palets<span class="obligatorio">*</span></th>
                            <th>Bultos<span class="obligatorio">*</span></th>
                            <th>Forma envío<span class="obligatorio">*</span></th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="productos">
                        <tr *ngFor="let producto of productosControls.controls; let i = index" [formGroupName]="i">
                            <td class="">
                                <input type="text" formControlName="numeroSalida"
                                    [ngClass]="getEstadoCampo('numeroSalida', i)" class=""
                                    (change)="sincronizarSalida()">
                            </td>
                            <td class="">
                                <input type="number" formControlName="dcs" max="9999999999" class="">
                            </td>
                            <td class="">
                                <input type="text" formControlName="ref" min="0" max="9999999"
                                    [ngClass]="getEstadoCampo('ref', i)" class=""
                                    (change)="buscarProductoPorReferencia(i)">
                            </td>
                            <td class="">
                                <input type="text" formControlName="description"
                                    [ngClass]="getEstadoCampo('description', i)" class="">
                            </td>
                            <td class="">
                                <input type="number" formControlName="unidades" min="1"
                                    [ngClass]="getEstadoCampo('unidades', i)" class="">
                            </td>
                            <td class="">
                                <input type="date" formControlName="fechaEnvio"
                                    [ngClass]="getEstadoCampo('fechaEnvio', i)" class=""
                                    (change)="sincronizarSalida()">
                            </td>
                            <td class="">
                                <input type="text" formControlName="ubicacion"
                                    [ngClass]="getEstadoCampo('ubicacion', i)" class="">
                            </td>
                            <td class="">
                                <input type="number" formControlName="palets" [ngClass]="getEstadoCampo('palets', i)"
                                    min="0" class="">
                            </td>
                            <td class="">
                                <input type="number" formControlName="bultos" [ngClass]="getEstadoCampo('bultos', i)"
                                    min="1" class="">
                            </td>
                            <td class="">
                                <input type="text" formControlName="formaEnvio" [ngClass]="getEstadoCampo('formaEnvio', i)" (change)="sincronizarSalida()" class="">
                            </td>
                            <td class="centrar">
                                <button type="button" (click)="eliminarProducto(i)" class="deleteButton">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 59" class="bin">
                                        <path fill="#B5BAC1"
                                            d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z">
                                        </path>
                                        <path fill="#B5BAC1"
                                            d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z">
                                        </path>
                                        <path fill="#B5BAC1"
                                            d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z"
                                            clip-rule="evenodd" fill-rule="evenodd"></path>
                                        <path fill="#B5BAC1" d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                                    </svg>

                                    <span class="tooltip">Eliminar</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="btns-tabla">
                    <button type="button" (click)="agregarProducto()" class="add-producto">
                        <img src="../../../assets/icons/signo-mas.svg" alt="">
                        <span>Añadir producto</span>
                    </button>
                    <button type="submit" class="crear-producto" [disabled]="!formularioNuevaSalida.form.valid && !pendiente">
                        Crear
                    </button>
                </div>
            </form>
        </ng-container>
    </div>
</div>