<app-cabecera-entradas></app-cabecera-entradas>

<div id="contenedor-tabla">
    <div id="botones">
        <input type="file" 
               (change)="onFileChange($event)" 
               accept=".xlsx, .xls" 
               style="display: none" 
               #excelInput>
        <button (click)="excelInput.click()">Importar Excel</button>
        <button (click)="changeAMano()">Crear a mano</button>
    </div>

    <div id="contenedores-botones">
        <ng-container *ngIf="crearMano">
            <form [formGroup]="entradaForm" (ngSubmit)="onSubmit()">
            <table>
                <thead>
                    <tr>
                        <th>Nº Entrada</th>
                        <th>DCS</th>
                        <th>REF</th>
                        <th>DESCRIPCIÓN</th>
                        <th>UNIDADES</th>
                        <th>FECHA RECEPCIÓN</th>
                        <th>UBICACIÓN</th>
                        <th>PALETS</th>
                        <th>BULTOS</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody formArrayName="productos">
                    <tr *ngFor="let producto of productosControls.controls; let i = index" [formGroupName]="i">
                        <td class="">
                            <input type="text" formControlName="numeroEntrada" class=""
                                (change)="sincronizarEntrada()">
                        </td>
                        <td class="">
                            <input type="number" formControlName="dcs" class="">
                        </td>
                        <td class="">
                            <input type="number" formControlName="ref" class=""
                                (change)="buscarProductoPorReferencia(i)">
                        </td>
                        <td class="">
                            <input type="text" formControlName="description" class="" readonly>
                        </td>
                        <td class="">
                            <input type="number" formControlName="unidades" class="">
                        </td>
                        <td class="">
                            <input type="date" formControlName="fechaRecepcion" class=""
                                (change)="sincronizarEntrada()">
                        </td>
                        <td class="">
                            <input type="text" formControlName="ubicacion" class="">
                        </td>
                        <td class="">
                            <input type="number" formControlName="palets" class="">
                        </td>
                        <td class="">
                            <input type="number" formControlName="bultos" class="">
                        </td>
                        <td class="">
                            <button type="button" (click)="eliminarProducto(i)" class="btn-eliminar">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="">
                <button type="button" (click)="agregarProducto()" class="">
                    Añadir Producto
                </button>
                <button type="submit" class="">
                    Crear
                </button>
            </div>
        </form>
    </ng-container>
    </div>
</div>