#contenedor-tabla {
    display: block;
}

#botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#contenedores-botones {
    display: flex;
    justify-content: center;
}

.obligatorio {
    font-size: small;
    margin-left: 2px;
}

.campo-vacio {
    border-bottom: 2px solid red;
}