<app-cabecera-entradas></app-cabecera-entradas>

<app-importar-excel></app-importar-excel>

<app-formulario-entrada-salida [pestanaPadre]="'previsionEntrada'"></app-formulario-entrada-salida>

<div class="flotar-medio">
    <table>
        <thead>
            <tr>
                <th>Origen</th>
                <th>Detalles</th>
                <th>Marcar como recibido</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let entrada of entradas">
                <tr>
                    <td>{{ entrada.origen }}</td>
                    <td><app-detalles-entradas [entrada]="entrada" (entradaRellena)="entrada.rellena = $event"></app-detalles-entradas></td>
                    <td>
                        <div class="flotar-medio">
                            <button (click)="desactivarBtnSubmit()" [disabled]="!entrada.rellena && !btnSubmitActivado" (click)="setRecibida(entrada.id!)" class="transparente" >
                                <img [ngClass]="{'no-relleno': !entrada.rellena}" src="../../../assets/icons/check-verde.svg" />
                                <img [ngClass]="{'relleno': entrada.rellena}" src="../../../assets/icons/no-check-gris.svg" />
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
