<app-cabecera-entradas></app-cabecera-entradas>

<div class="flotar-medio">
    <table>
        <caption>ENTRADAS PENDIENTES DE RECEPCIONAR</caption>
        <thead>
            <tr>
                <th>Origen / PO</th>
                <th>DCS</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let entrada of entradas">
                <tr>
                    <td>{{ entrada.origen }}</td>
                    <td>{{entrada.productos[0].dcs}}</td>
                    <td>
                        <div class="flotar-medio">
                            <button (click)="desactivarBtnSubmit()" [disabled]="!entrada.rellena || !btnSubmitActivado"
                                (click)="setRecibida(entrada.id!)" class="transparente">
                                <img [ngClass]="{'no-relleno': !entrada.rellena}"
                                    src="../../../assets/icons/check-verde.svg" />
                                <img [ngClass]="{'relleno': entrada.rellena}"
                                    src="../../../assets/icons/no-check-gris.svg" />
                            </button>
                        </div>
                    </td>
                    <td style="display:flex">
                        <app-detalles-entradas [enRecibidas]="false" [entrada]="entrada"
                            (entradaRellena)="entrada.rellena = $event"></app-detalles-entradas>
                        <button *ngIf="entrada.productos[0].idPadre == null" [disabled]="!btnSubmitActivado" (click)="deleteEntrada(entrada.id!)" class="btn-eliminar">
                            <span class="text">Borrar</span><span class="icon"><img
                                    src="../../../assets/icons/delete-bin.svg" /></span>
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>