#contenedor-tabla {
    display: flex;
    justify-content: center;
}

tr:nth-child(even) {
    background-color: var(--table-primary);
}

tr:nth-child(odd) {
    background-color: var(--table-secondary);
}

.relleno{
    display: none;
}

.no-relleno{
    display: none;
}