<app-cabecera-entradas></app-cabecera-entradas>

<div class="centrar">
    <div id="historial">
        <table [className]="'tabla-paginator'" mat-table [dataSource]="dataSource">
            <caption>ENTRADAS PENDIENTES DE RECEPCIONAR</caption>
            <ng-container matColumnDef="origen">
                <th class="header-paginator" *matHeaderCellDef>ORIGEN</th>
                <td class="fila-paginator" mat-cell *matCellDef="let entrada">
                    {{entrada.origen || entrada.colaborador || entrada.pdv}}
                </td>
            </ng-container>

            <ng-container matColumnDef="dcs">
                <th class="header-paginator" *matHeaderCellDef>DCS</th>
                <td class="fila-paginator" mat-cell *matCellDef="let entrada">{{entrada.dcs}}</td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th class="header-paginator" *matHeaderCellDef>ESTADO</th>
                <td class="fila-paginator" mat-cell *matCellDef="let entrada">
                    <div class="flotar-medio">
                        <div>
                            <img [ngClass]="{'no-relleno': !entrada.rellena}"
                                src="../../../assets/icons/check-verde.svg" />
                            <img [ngClass]="{'relleno': entrada.rellena}"
                                src="../../../assets/icons/no-check-gris.svg" />
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <th class="header-paginator" *matHeaderCellDef>ACCIONES</th>
                <td class="fila-paginator" mat-cell *matCellDef="let entrada">
                    <div class="centrar">
                        <div style="display:flex; gap: 5px">
                            <app-detalles-entradas [enRecibidas]="false" [entrada]="entrada"
                            (entradaRellena)="entrada.rellena = $event"></app-detalles-entradas>
                        <button  [appConfirm]="'¿ESTÁS SEGURO DE BORRAR LA ENTRADA?'" (confirmed)="deleteEntrada(entrada.id!)"
                            *appHasRole="'ROLE_ADMIN'" [disabled]="!btnSubmitActivado"
                            class="btn-eliminar">
                            <span class="text">BORRAR</span>
                            <span class="icon">
                                <img src="../../../assets/icons/delete-bin.svg" />
                            </span>
                        </button>
                        <button [appConfirm]="'¿ESTÁS SEGURO DE GRABAR LA ENTRADA?'" (confirmed)="setRecibida(entrada.id!)"
                                [disabled]="!btnSubmitActivado"
                                class="btn-grabar">
                                GRABAR
                            </button>
                        </div>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasPaginator"></tr>
            <tr mat-row *matRowDef="let row; columns: columnasPaginator;"></tr>
        </table>
        
        <mat-paginator
            class="paginator"
            [pageSize]="pageSize"
            [pageIndex]="pageIndex"
            [length]="totalElementos"
            [hidePageSize]="true"
            showFirstLastButtons
            (page)="cambiarPagina($event)">
        </mat-paginator>
    </div>
</div>

<app-pantalla-carga></app-pantalla-carga>