<ng-container *ngIf="tipoReubicacion == 'completa'; else simple">
    <button [disabled]="!btnSubmitActivado" class="btn-productos" (click)="mostrarDetalles()">
        <div class="centrar">
            <img src="../../../../assets/icons/mover-ubicacion-2.svg" alt="">
            REUBICAR PALET
        </div>
    </button>

    <div *ngIf="mostrarModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="cerrarModal()">&times;</span>

            <div class="cambio-ubicacion">
                <div class="campo-reubicar">
                    <h3>Ubicación ACTUAL</h3>
                    <p>{{ubicacionActual}}</p>
                </div>
                <img src="../../../../assets/icons/flecha.svg" alt="">
                <div class="campo-reubicar">
                    <h3>Ubicación DESTINO</h3>
                    <div class="input">
                        <select [(ngModel)]="ubicacionDestino" name="" id="" (change)="cargarProductosReubicacion()">
                            <option value="">---Selecciona una ubicación---</option>
                            <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion">{{ubicacion}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="resultados">
                <div class="acciones">
                    <button [disabled]="!btnSubmitActivado" class="btn-reubicar flotar-medio"
                        (click)="reubicarPalet()">
                        <img src="../../../../assets/icons/mover-ubicacion-2.svg" alt="">
                        REUBICAR
                    </button>
                </div>

                <div class="progreso" *ngIf="reubicando">
                    <p>Reubicando artículo {{ progresoActual }} de {{ reubicaciones.length }}</p>
                    <div class="barra-progreso">
                        <div class="progreso-completado"
                            [style.width.%]="(progresoActual / reubicaciones.length) * 100">
                        </div>
                    </div>
                </div>

                <div class="resultado" *ngIf="reubicacionCompletada">
                    <h3>Resultados de la importación</h3>
                    <p>Productos importados correctamente: {{ productosReubicadosOK }}</p>
                    <p>Productos con errores: {{ productosConError }}</p>
                </div>
            </div>

        </div>
    </div>

</ng-container>


<ng-template #simple>
    <button class="transparente icono-reubicar" (click)="mostrarDetalles()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF">
            <path class="icono"
                d="M440-280q-7 0-12-4t-7-10q-14-42-34-70t-40-54q-20-26-33.5-54T300-540q0-58 41-99t99-41q58 0 99 41t41 99q0 40-13.5 68T533-418q-20 26-40 54t-34 70q-2 6-7 10t-12 4Zm0-112q9-14 18-26t17-23q23-30 34-50t11-49q0-33-23.5-56.5T440-620q-33 0-56.5 23.5T360-540q0 29 11 49t34 50q8 11 17 23t18 26Zm0-98q21 0 35.5-14.5T490-540q0-21-14.5-35.5T440-590q-21 0-35.5 14.5T390-540q0 21 14.5 35.5T440-490Zm0 370q-150 0-255-105T80-480q0-75 28.5-140.5t77-114q48.5-48.5 114-77T440-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T800-480v8l53-54 57 56-150 150-150-150 57-56 53 53v-7q0-116-82-198t-198-82q-116 0-198 82t-82 198q1 116 82.5 198T440-200q57 0 107-21.5t88-58.5l57 57q-49 48-113.5 75.5T440-120Zm0-420Z" />
        </svg>
    </button>

    <div *ngIf="mostrarModal" class="modal">
        <div class="modal-content">
            <span class="close" (click)="cerrarModal()">&times;</span>
            <div class="producto-original centrar">
                <h1>DATOS ORIGINALES</h1>
                <div class="campos-reubicar centrar">
                    <h2>REFERENCIA <span class="titulo-modal">{{productoActual.ref}}</span></h2>
                    <h2>DESCRIPCION <span class="titulo-modal">{{productoActual.description}}</span></h2>
                    <h2>UNIDADES <span class="titulo-modal">{{productoActual.unidades}}</span></h2>
                </div>
            </div>
            <div class="centrar">
                <div class="campos-modificables">
                    <div class="cambio-ubicacion">
                        <div class="campo-reubicar">
                            <h3>Ubicación ACTUAL</h3>
                            <p>{{ubicacionActual}}</p>
                        </div>
                        <img src="../../../../assets/icons/flecha.svg" alt="">
                        <div class="campo-reubicar">
                            <h3>Ubicación DESTINO</h3>
                            <div class="input">
                                <select [(ngModel)]="ubicacionDestino" name="" id="">
                                    <option value="">---Selecciona una ubicación---</option>
                                    <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion">{{ubicacion}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="cambio-unidades">
                        <div class="campo-reubicar">
                            <h3>Unidades ACTUALES</h3>
                            <p>{{productoActual.unidades}}</p>
                        </div>
                        <img src="../../../../assets/icons/flecha.svg" alt="">
                        <div class="campo-reubicar">
                            <h3>Unidades a REUBICAR</h3>
                            <div class="input">
                                <input type="number" [(ngModel)]="productoReubicado.unidades" min="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="centrar">
                <button [disabled]="!btnSubmitActivado" class="btn-reubicar" (click)="reubicarProducto()">
                    <img src="../../../../assets/icons/mover-ubicacion-2.svg" alt="">
                    REUBICAR
                </button>
            </div>
        </div>
    </div>
</ng-template>