<app-cabecera-entradas></app-cabecera-entradas>

<div id="contenedor-tabla">
    <table>
        <thead>
            <tr>
                <th>Origen</th>
                <th>Fecha recepción</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let entrada of entradas">
                <tr *ngIf="entrada.estado">
                    <td>{{entrada.origen}} </td>
                    <td>{{entrada.productos?.at(0)?.fechaRecepcion | date: 'dd/MM/yyyy'}} </td>
                    <td><app-detalles-entradas [enRecibidas]="true" [entrada]="entrada" (entradaRellena)="entrada.rellena=$event"></app-detalles-entradas></td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>