<header>
        <ul>
            <li *appHasRole="'ROLE_ADMIN'"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/entradas">PREVISIÓN DE ENTRADAS</a></li>
            <li *appHasRole="'ROLE_ADMIN'"><a routerLinkActive="active" routerLink="/entradas/nuevo">GRABAR ENTRADA</a></li>
            <li><a routerLinkActive="active" routerLink="/entradas/pendientes">ENTRADAS PENDIENTES DE RECEPCIONAR</a></li>
            <li><a routerLinkActive="active" routerLink="/entradas/recibidas">HISTÓRICO DE ENTRADAS</a></li>
        </ul>
</header>

<hr>