#contenedor-tabla {
    display: block;
    justify-content: center;
    margin-top: 50px;
}

#botones {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#contenedores-botones {
    display: block;
}

/* De uiverse.io desde aquí*/


/*------uiverse.io-------*/
/*-------Botón actualizar---------*/
.btn-actualizar {
    position: relative;
    width: 150px;
    height: 40px;
    margin-top: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
    overflow: hidden;
    padding-left: 0;
}

.btn-actualizar,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.btn-actualizar .button__text {
    transform: translateX(30px);
    color: #323232;
    font-weight: 600;
}

.btn-actualizar .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-actualizar .svg {
    width: 20px;
    fill: var(--main-color);
}

.btn-actualizar:hover {
    background: var(--bg-color);
}

.btn-actualizar:hover .button__text {
    color: transparent;
}

.btn-actualizar:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.btn-actualizar:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

/*------- Botón Añadir producto -------*/
.add-producto {
    color: white;
    background: linear-gradient(0deg,
            rgba(20, 167, 62, 1) 0%,
            rgba(102, 247, 113, 1) 100%);
}

.add-producto img {
    margin-right: 6px;
}

.add-producto:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.add-producto:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

/* Hasta aquí*/

.btns-tabla button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 20em;
    margin: 1em;
}

.crear-producto {
    color: black;
    background: linear-gradient(0deg,
            rgb(0, 255, 251) 0%,
            rgb(0, 200, 222) 100%);
}

.crear-producto:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #00e5ff;
}

.crear-producto:active {
    box-shadow: 0 0.3em 1em -0.5em #00ffea;
}

.crear-producto:disabled {
    background: #212121;
    box-shadow: none;
}

.campo-vacio {
    border-bottom: 2px solid red;
}

.campo-nuevo:nth-child(odd) {
    background-color: #080 !important;
}

.campo-nuevo:nth-child(even) {
    background-color: rgb(0, 101, 0) !important;
}

.transparente {
    background-color: transparent;
}

input, textarea {
    color: white;
    border: none;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid white;
}

input:focus, textarea:focus {
    outline: none;
}

.btn-actualizar .button__icon:hover .svg {
    animation: rotate 0.3s linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pendiente label{
    background-color: var(--btn-inactive);
    padding: 3px 7px;
    border-radius: 2px;
    cursor: pointer;
}

.pendiente input {
    display: none;
}

.pendiente label:has(input:checked) {
    background-color: red;
}

select {
    color: white;
    border: none;
    border-bottom: 1px solid white;
}

select option, .autocomplete-dropdown {
    background-color: #212121;
    color: white;
}

.formulario-no-repetido {
    display: flex;
    flex-direction: column;
}

.direcciones, .fechas, .detalles-direcciones, .dcs {
    margin: 10px 0;
}

.direcciones {
    display: flex;
}

.detalles-direcciones {
    display: flex;
}

.detalles-direcciones .campo-form {
    margin-right: 20px;
}

.fechas {
    width: fit-content;
}

.dcs {
    display: flex;
}

.campo-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.campo-form label {
    font-weight: 500;
    color: white;
}

.campo-form input,
.campo-form select{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #001a6e;
}

.campo-form{
    margin: 0 5px;
}

.autocomplete-container {
    position: relative;
}

.autocomplete-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ddd;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    font-size: 12px;
}

.autocomplete-item {
    padding: 8px 12px;
    cursor: pointer;
}

.autocomplete-item:hover {
    background-color: #1967d2;
}

#observaciones {
    height: 22.6px;
    width: fit-content;
    max-width: 150px;
    overflow: hidden;
}