.tabla-paginator{
    text-align: center;
    width: var(--w-paginator);
    height: fit-content;
}

.header-paginator, .fila-paginator {
    text-align: center;
    font-size: 16px;
}

.header-paginator {
    font-family: 'Nunito-ExtraBold';
}

.fila-paginator {
    color: white;
    font-family: 'Nunito-SemiBold';
}

.btn-acciones {
    display: flex;
    justify-content: center;
}

.paginator {
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
}