<div class="centrar">
    <div class="contenedor-gestor">
      <div class="centrar">
        <h2 class="gestor-titulo">GESTIÓN DE OTRAS DIRECCIONES</h2>
      </div>
  
      <!-- Formulario para crear una nueva otra dirección -->
      <div class="centrar">
        <div class="gestor-crear">
          <h3>Crear NUEVA Otra Dirección</h3>
          <div class="campos-gestor">
            <input
              [(ngModel)]="nuevaOtraDireccion.nombre"
              placeholder="Nombre"
              (keyup)="existeOtraDireccion(nuevaOtraDireccion.nombre!)" />
            <input
              [(ngModel)]="nuevaOtraDireccion.telefono"
              placeholder="Teléfono" />
            <input
              [(ngModel)]="nuevaOtraDireccion.direccion"
              placeholder="Dirección" />
            <input
              [(ngModel)]="nuevaOtraDireccion.poblacion"
              placeholder="Población" />
            <input
              [(ngModel)]="nuevaOtraDireccion.provincia"
              placeholder="Provincia" />
            <input
              [(ngModel)]="nuevaOtraDireccion.cp"
              placeholder="CP" />
            <button (click)="crearOtraDireccion()" class="btn-crear">CREAR</button>
          </div>
        </div>
      </div>
  
      <!-- Sección de listado y búsqueda -->
      <div class="gestor-listado-seleccion">
        <!-- Buscador de otras direcciones -->
        <div>
          <div class="buscador centrar" (keyup)="onEnterKey($event)">
            <input type="text" placeholder="Buscar..." [(ngModel)]="buscador" />
            <button (click)="buscarOtrasDirecciones()" class="btn-buscar">
              <img src="../../../assets/icons/lupa-blanca.svg" alt="">
              <span class="letra-buscador">Buscar</span>
            </button>
            <button (click)="resetearBuscador()" class="btn-resetear">Limpiar</button>
          </div>
  
          <!-- Listado de otras direcciones -->
          <div class="gestor-listado centrar">
            <div style="width: fit-content">
              <table [className]="'tabla-paginator'" mat-table [dataSource]="dataSourceOtrasDirecciones">
                <caption>LISTADO DE OTRAS DIRECCIONES</caption>
  
                <!-- Columna Nombre -->
                <ng-container matColumnDef="nombre">
                  <th class="header-paginator" *matHeaderCellDef> Nombre </th>
                  <td class="fila-paginator" mat-cell *matCellDef="let otraDireccion">
                    <ng-container *ngIf="editandoId !== otraDireccion.id; else editNombre">
                      {{ otraDireccion.nombre }}
                    </ng-container>
                    <ng-template #editNombre>
                      <input [(ngModel)]="editandoOtraDireccion.nombre" placeholder="Nombre" class="nombre-editando" />
                    </ng-template>
                  </td>
                </ng-container>
  
                <!-- Columna Teléfono -->
                <ng-container matColumnDef="telefono">
                  <th class="header-paginator" *matHeaderCellDef> Teléfono </th>
                  <td class="fila-paginator" mat-cell *matCellDef="let otraDireccion">
                    <ng-container *ngIf="editandoId !== otraDireccion.id; else editTelefono">
                      {{ otraDireccion.telefono }}
                    </ng-container>
                    <ng-template #editTelefono>
                      <input [(ngModel)]="editandoOtraDireccion.telefono" placeholder="Teléfono" class="nombre-editando" />
                    </ng-template>
                  </td>
                </ng-container>
  
                <!-- Columna Dirección (agrupa dirección, población, provincia y cp) -->
                <ng-container matColumnDef="direccion">
                  <th class="header-paginator" *matHeaderCellDef> Dirección </th>
                  <td class="fila-paginator direccion" mat-cell *matCellDef="let otraDireccion">
                    <ng-container *ngIf="editandoId !== otraDireccion.id; else editDireccion">
                      {{ otraDireccion.direccion }} <br> {{ otraDireccion.cp }} - {{ otraDireccion.poblacion }} ({{ otraDireccion.provincia }}) 
                    </ng-container>
                    <ng-template #editDireccion>
                      <input [(ngModel)]="editandoOtraDireccion.direccion" placeholder="Dirección" class="nombre-editando" /><br>
                      <input [(ngModel)]="editandoOtraDireccion.poblacion" placeholder="Población" class="nombre-editando" /><br>
                      <input [(ngModel)]="editandoOtraDireccion.provincia" placeholder="Provincia" class="nombre-editando" /><br>
                      <input [(ngModel)]="editandoOtraDireccion.cp" placeholder="CP" class="nombre-editando" />
                    </ng-template>
                  </td>
                </ng-container>
  
                <!-- Columna Acciones -->
                <ng-container matColumnDef="acciones">
                  <th class="header-paginator" *matHeaderCellDef> Acciones </th>
                  <td class="fila-paginator" mat-cell *matCellDef="let otraDireccion">
                    <div class="centrar">
                      <ng-container *ngIf="editandoId !== otraDireccion.id; else editActions">
                        <button class="btn-editar" (click)="editarOtraDireccion(otraDireccion)">EDITAR</button>
                      </ng-container>
                      <ng-template #editActions>
                        <div class="btn-actualizar-gestor">
                          <button (click)="guardarEdit()">GUARDAR</button>
                          <button (click)="cancelarEdit()">CANCELAR</button>
                        </div>
                      </ng-template>
                      <button type="button" [appConfirm]="'¿ESTÁS SEGURO QUE QUIERES ELIMINAR LA DIRECCIÓN: ' + otraDireccion.nombre + ' ?'" (confirmed)="eliminarOtraDireccion(otraDireccion.id!)" class="deleteButton">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 50 59" class="bin">
                          <path fill="#B5BAC1"
                            d="M0 7.5C0 5.01472 2.01472 3 4.5 3H45.5C47.9853 3 50 5.01472 50 7.5V7.5C50 8.32843 49.3284 9 48.5 9H1.5C0.671571 9 0 8.32843 0 7.5V7.5Z">
                          </path>
                          <path fill="#B5BAC1"
                            d="M17 3C17 1.34315 18.3431 0 20 0H29.3125C30.9694 0 32.3125 1.34315 32.3125 3V3H17V3Z">
                          </path>
                          <path fill="#B5BAC1"
                            d="M2.18565 18.0974C2.08466 15.821 3.903 13.9202 6.18172 13.9202H43.8189C46.0976 13.9202 47.916 15.821 47.815 18.0975L46.1699 55.1775C46.0751 57.3155 44.314 59.0002 42.1739 59.0002H7.8268C5.68661 59.0002 3.92559 57.3155 3.83073 55.1775L2.18565 18.0974ZM18.0003 49.5402C16.6196 49.5402 15.5003 48.4209 15.5003 47.0402V24.9602C15.5003 23.5795 16.6196 22.4602 18.0003 22.4602C19.381 22.4602 20.5003 23.5795 20.5003 24.9602V47.0402C20.5003 48.4209 19.381 49.5402 18.0003 49.5402ZM29.5003 47.0402C29.5003 48.4209 30.6196 49.5402 32.0003 49.5402C33.381 49.5402 34.5003 48.4209 34.5003 47.0402V24.9602C34.5003 23.5795 33.381 22.4602 32.0003 22.4602C30.6196 22.4602 29.5003 23.5795 29.5003 24.9602V47.0402Z"
                            clip-rule="evenodd" fill-rule="evenodd"></path>
                          <path fill="#B5BAC1" d="M2 13H48L47.6742 21.28H2.32031L2 13Z"></path>
                        </svg>
                      </button>
                    </div>
                  </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="columnasOtrasDirecciones"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasOtrasDirecciones;"></tr>
              </table>
              <mat-paginator class="paginator" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="totalElementos"
                [hidePageSize]="true" showFirstLastButtons (page)="cambiarPagina($event)">
            </mat-paginator>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
  <app-pantalla-carga></app-pantalla-carga>