
.btn-etiqueta {
  background-color: var(--color-excel-hover);
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-etiqueta:hover {
  background-color: #006936;
}

.etiqueta-modal {
  max-width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
}

.btn-acciones {
  width: fit-content;
}

.etiqueta-modal h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--letter-color);
}

.conjunto-btn-acciones{
  display: flex;
  justify-content: space-between;
  gap: 5px;
}