<header>
    <ul>
        <li *appHasRole="'ROLE_ADMIN'"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/salidas">PREVISIÓN DE SALIDAS</a></li>
        <li *appHasRole="'ROLE_ADMIN'"><a routerLinkActive="active" routerLink="/salidas/nuevo">GRABAR SALIDA</a></li>
        <li><a routerLinkActive="active" routerLink="/salidas/pendientes">PEDIDOS A PREPARAR</a></li>
        <li><a routerLinkActive="active" routerLink="/salidas/envios">ENVÍOS PENDIENTES</a></li>
        <li><a routerLinkActive="active" routerLink="/salidas/enviadas">HISTÓRICO DE SALIDAS</a></li>
    </ul>
</header>

<hr>