<header>
    <ul>
        <li *appHasRole="'ROLE_ADMIN'"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/salidas">Previsión de Salidas</a></li>
        <li *appHasRole="'ROLE_ADMIN'"><a routerLinkActive="active" routerLink="/salidas/nuevo">Grabar salida</a></li>
        <li><a routerLinkActive="active" routerLink="/salidas/pendientes">Pedidos a preparar</a></li>
        <li><a routerLinkActive="active" routerLink="/salidas/enviadas">Histórico de salidas</a></li>
    </ul>
</header>

<hr>