<app-cabecera-salidas></app-cabecera-salidas>

<div class="flotar-medio">
    <table>
        <caption>SALIDAS PENDIENTES DE PREPARAR</caption>
        <thead>
            <tr>
                <th>Destino</th>
                <th>Preparado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let salida of salidas">
                <tr>
                    <td>{{ salida.destino }}</td>
                    <td>
                        <div class="flotar-medio">
                            <div>
                                <img [ngClass]="{'no-relleno': !salida.rellena}"
                                    src="../../../assets/icons/check-verde.svg" />
                                <img [ngClass]="{'relleno': salida.rellena}"
                                    src="../../../assets/icons/no-check-gris.svg" />
                            </div>
                        </div>
                    </td>
                    <td style="display: flex; gap: 5px">
                        <app-detalles-salidas [enRecibidas]="false" [salida]="salida"
                            (salidaRellena)="salida.rellena = $event"></app-detalles-salidas>
                        <button [disabled]="!btnSubmitActivado"
                            (click)="deleteSalida(salida.id!)" class="btn-eliminar">
                            <span class="text">BORRAR</span><span class="icon"><img
                                    src="../../../assets/icons/delete-bin.svg" /></span>
                        </button>
                        <button (click)="desactivarBtnSubmit()" [disabled]="!salida.rellena || !btnSubmitActivado"
                            (click)="setEnviada(salida.id!)" class="btn-grabar">
                            GRABAR
                        </button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>