#panel-lateral {
    margin: 0;
    padding: 0 10px;
    height: 100vh;
    color: white;
    background-color: var(--main-color);
}

a img {
    width: 100%;
    padding-top: 10px;
}

h1{
    font-size: 15px;
    text-align: center;
    background-color: var(--letter-color-off);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 1px,
                0px 0px 2px,
                0px 0px 5px;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
}

li a {
    display: flex;
    text-decoration: none;
    padding: 10px 15px;
    color: var(--letter-color-off);
    border-radius: 3px;
}

li a:hover{
    background-color: rgb(94, 106, 129, 0.5);
    color: var(--main-color);
}

#panel-lateral .active {
    color: white;
}

#panel-lateral .active:hover {
    color: var(--letter-color-intense);
    text-shadow: 0px 0px 1px;
}

