:root {
    --main-color: #01081f;
    --bg-color: #05123c;
    --letter-color: #3d7eff;
    --letter-color-off: #5e6a81;
    --aux-color: #014257;
    --caption-color: #007253;
    --thead-color: #B4C2E1;
    --table-primary: #1242DF;
    --table-secondary: #3E66DF;
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('./assets/fuentes/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Nunito-Medium';
    src: url('./assets/fuentes/Nunito-Medium.ttf');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('./assets/fuentes/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('./assets/fuentes/Nunito-ExtraBold.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito-SemiBold';
    background-color: var(--bg-color);
    color: var(--letter-color-off);
}

.mat-mdc-snack-bar-container {
    position: fixed !important;
    z-index: 1;
    justify-content: right !important;
}

.exito .mdc-snackbar__surface {
    background-color: #4caf50 !important;
    color: white !important;
    border-radius: 4px;
}

.error .mdc-snackbar__surface {
    background-color: #de0000 !important;
    color: white !important;
    border-radius: 4px;
}

.campo-vacio {
    border-bottom: 2px solid red !important;
    background-color: red !important;
}

.flotar-medio {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------
--CSS para las Tablas y sus componentes--
-----------------------------------------*/
table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    margin-top: 50px;
    text-align: center;
    height: fit-content;
}

caption {
    background-color: var(--caption-color) !important;
}

thead tr:first-child {
    background-color: var(--thead-color);
    color: black;
    font-family: 'Nunito-ExtraBold';
}

th {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--table-primary);
}

tr:nth-child(odd) {
    background-color: var(--table-secondary);
}

tr:last-child {
    border-bottom: 3px solid var(--table-secondary);
}

td {
    padding: 10px;
}