:root {
    --main-color: #01081f;
    --bg-color: #05123c;
    --letter-color: #3d7eff;
    --letter-color-off: #5e6a81;
    --aux-color: #014257;
    --caption-color: #007253;
    --thead-color: #B4C2E1;
    --table-primary: #1242DF;
    --table-secondary: #3E66DF;
    --btn-inactive: #9f9f9f;
    --w-paginator: 400px;
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url('./assets/fuentes/Nunito-SemiBold.ttf');
}

@font-face {
    font-family: 'Nunito-Medium';
    src: url('./assets/fuentes/Nunito-Medium.ttf');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url('./assets/fuentes/Nunito-Bold.ttf');
}

@font-face {
    font-family: 'Nunito-ExtraBold';
    src: url('./assets/fuentes/Nunito-ExtraBold.ttf');
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito-SemiBold';
    background-color: var(--bg-color);
    color: var(--letter-color-off);
}

.mat-mdc-snack-bar-container {
    position: fixed !important;
    z-index: 1;
    justify-content: right !important;
}

.exito .mdc-snackbar__surface {
    background-color: #4caf50 !important;
    color: white !important;
    border-radius: 4px;
}

.error .mdc-snackbar__surface {
    background-color: #de0000 !important;
    color: white !important;
    border-radius: 4px;
}

.campo-vacio {
    border-bottom: 2px solid red !important;
    background-color: red !important;
}

.flotar-medio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparente {
    background-color: transparent;
}

.btn-productos {
    border: none;
    background-color: #EBB934;
    padding: 3.5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Nunito-Medium';
}

.btn-productos:hover {
    background-color: #ffd875;
}

/* --------------------------------------
--CSS para las Tablas y sus componentes--
-----------------------------------------*/
table {
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    color: white;
    margin-top: 50px;
    text-align: center;
    height: fit-content;
}

caption {
    background-color: var(--caption-color) !important;
    padding: 10px;
}

thead tr:first-child {
    background-color: var(--thead-color);
    color: black;
    font-family: 'Nunito-ExtraBold';
}

th {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--table-primary);
}

tr:nth-child(odd) {
    background-color: var(--table-secondary);
}

tr:last-child {
    border-bottom: 3px solid var(--table-secondary);
}

td {
    padding: 10px;
}

.centrar {
    display: flex;
    justify-content: center;
}

.mat-mdc-paginator-container {
    width: fit-content !important;
}

.mat-mdc-paginator-outer-container {
    justify-content: center;
}

mat-tooltip-component {
    display: none; /* Oculta el tooltip del paginator*/
}

/*------- Botón borrar (estático) -------*/
.deleteButton {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
}

.deleteButton:hover {
    overflow: visible;
}

.bin path {
    transition: all 0.2s;
}

.deleteButton:hover .bin path {
    fill: #ff1d1d;
}

.deleteButton:active {
    transform: scale(0.98);
}

.tooltip {
    --tooltip-color: rgb(41, 41, 41);
    position: absolute;
    top: -40px;
    background-color: var(--tooltip-color);
    color: white;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 600;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.105);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s;
}

.tooltip::before {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    content: "";
    background-color: var(--tooltip-color);
    bottom: -10%;
}

.deleteButton:hover .tooltip {
    opacity: 1;
}