<button (click)="mostrarDetalles()">Productos</button>

<div *ngIf="mostrarModal" class="modal">
    <div class="modal-content">
        <span class="close" (click)="cerrarModal()">&times;</span>
        <h2>Productos del DCS: <span class="numero-dcs">{{dcs.dcs}}</span></h2>
        <table>
            <thead>
                <tr>
                    <th>Referencia</th>
                    <th>Unidades</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of dcs.productos">
                    <td>{{producto.ref}}</td>
                    <td>{{producto.unidades}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>