#stock {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.tabla-paginator, mat-paginator {
    width: 100%;
    max-width: 576px;
    height: fit-content;
}

/* .tabla-paginator td{
    height: 65px;
} */