
<div id="contenedor-inventario">
    
    <app-nuevo-producto></app-nuevo-producto>

    <table>
        <thead>
            <tr>
                <th>Ref</th>
                <th>Descripción</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{producto.referencia}} </td>
                <td>{{producto.description}} </td>
                <td>{{producto.stock}} </td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>DCS</th>
                <th>Usado</th>
                <th>Ver productos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dcs of DCSs">
                <td>{{dcs.dcs}} </td>
                <td>{{dcs.usado}} </td>
                <td><app-detalles-dcs [dcs]="dcs"></app-detalles-dcs> </td>
            </tr>
        </tbody>
    </table>
</div>
