#stock, #ubicaciones {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tabla-paginator {
    height: 700px;
}

#buscador-stock {
    margin-top: 50px;
}

.productos-buscados table {
    margin-top: 10px;
    height: fit-content;
}